@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://kendo.cdn.telerik.com/2020.1.219/styles/kendo.default-v2.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
        crossorigin="anonymous">
</script>
<script src="https://kendo.cdn.telerik.com/2020.1.219/js/kendo.web.min.js" crossorigin="anonymous"></script>

<script src="~/js/common/app-common.js"></script>
<script src="~/js/home/home.js"></script>

<div id="delete-dialog">

</div>

<h1>Data Submission</h1>
<div id="grid"></div>

